.body {
  background-color: blue;
}

.box_photo {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  position: fixed;
  border: 1px black none;
}

.box_ident {
  box-sizing: border-box;
  height: 100px;
  width: 200px;
  position: relative;
  border: 1px black none;
  margin-top: -60px;
}

.box_contact {
  box-sizing: border-box;
  height: 50px;
  width: 100px;
  position: relative;
  border: 1px black none;
  margin-top: 10px;
}